# Unity 기본 무시 목록
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
MemoryCaptures/
Logs/
UserSettings/
.vs/
.idea/
.vscode/

# macOS, Windows 관련
.DS_Store
Thumbs.db

# 외부 폴더 무시 (상위 경로에 있는 형제 폴더)
../something-within-nothing/
